{% extends 'page/layout.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
<header class="header text-center">	    
		<div class="force-overflow">
			<h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Jonathan Valette</a></h1>
			
			<nav class="navbar navbar-expand-lg navbar-dark" >
								
				<div id="navigation" class="collapse navbar-collapse flex-column" >
					<div class="profile-section pt-3 pt-lg-0">
					
						<img class="profile-image mb-3 rounded-circle mx-auto" src="{{ asset('build/img/unnamed.jpg') }}" alt="image" >			
						
						<div class="bio mb-3">Je suis un Web Développeur specialisé dans le language PHP et le Framework Symfony(5.2).</div><!--//bio-->
						<ul class="social-list list-inline py-2 mx-auto">
							<li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
						</ul><!--//social-list-->
						<hr> 
					</div><!--//profile-section-->
					
					<ul class="navbar-nav flex-column text-left">
						<li class="nav-item">
							<a class="nav-link" href=""><i class="fas fa-user fa-fw mr-2"></i>Profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=""><i class="fas fa-laptop-code fa-fw mr-2"></i>Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('resume') }}"><i class="fas fa-file-alt fa-fw mr-2"></i>Resume</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=""><i class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact</a>
						</li>
					</ul>
				
				</div>
			</nav>
		</div><!--//force-overflow-->
	</header>
	<div class="main-wrapper">
		
		<section class="about-me-section p-3 p-lg-5 theme-bg-light">
			<div class="container">
				<div class="profile-teaser media flex-column flex-lg-row">
					
					<div class="media-body">
						<h2 class="name font-weight-bold mb-1">Jonathan Valette</h2>
						<div class="tagline mb-3">Web Développeur Junior</div>
						<div class="bio mb-4">Je suis un Web Développeur specialisé dans le language PHP et le Framework Symfony(5.2). Je suis à la recherche d'un emploi de Web Développeur Junior. Voir mon <a href="{{ path('resume') }}">CV en ligne </a>.
						</div><!--//bio-->
						<div class="mb-4">
							<a class="btn btn-primary mr-2 mb-3" href="{{ asset('build/img/cvjonathanvalette.png') }}" download="cvjonathanvalette.png"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline"></span> Télécharger CV</a>
							<a class="btn btn-secondary mb-3" href="{{ path('resume') }}"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline"></span> Voir CV</a>
						</div>
					</div><!--//media-body-->
						<img class="profile-image mb-3 rounded-circle mx-auto" src="{{ asset('build/img/unnamed.jpg') }}" alt="image" >	
				</div>
			</div>
		</section><!--//about-me-section-->
		
		<section class="overview-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-3">Profil</h2>
				<div class="section-intro mb-5">J'ai 1 an d'expèrience dans le Web Développement en tant qu'intègrateur web (Frontend) et Développeur d'applications Web (Backend).Voici un liste des technologies et/ou language que j'utilise.</div>
				<div class="row">
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-php"></i></div>
							<h3 class="item-title">PHP</h3>
							<div class="item-desc">Le PHP, pour Hypertext Preprocessor, désigne un langage informatique, utilisé principalement pour la conception de sites web dynamiques. Il s'agit d'un langage de programmation sous licence libre qui peut donc être utilisé par n'importe qui de façon totalement gratuite.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-js-square"></i></div>
							<h3 class="item-title">JavaScript, Jquery</h3>
							<div class="item-desc">JavaScript désigne un langage de développement informatique, et plus précisément un langage de script orienté objet. On le retrouve principalement dans les pages Internet. Il permet, entre autres, d'introduire sur une page web ou HTML des petites animations ou des effets.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i></div>
							<h3 class="item-title">HTML &amp; CSS</h3>
							<div class="item-desc">Langage de balisage utilisé pour la création de pages web, permettant notamment de définir des liens hypertextes.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-sass mr-2"></i></div>
							<h3 class="item-title">Sass</h3>
							<div class="item-desc">Sass est un préprocesseur CSS. C'est un langage de description compilé en CSS.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-php"></i></div>
							<h3 class="item-title">Framework Symfony</h3>
							<div class="item-desc">Symfony est un framework qui représente un ensemble de composants (aussi appelés librairies) PHP autonomes qui peuvent être utilisés dans des projets web privé ou open source.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-node-js"></i></div>
							<h3 class="item-title">Node.js</h3>
							<div class="item-desc">Node.js sert à faire du Javascript server side, et peut être utilisé dans des applications de bases de données, la plus populaire étant MySQL.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa fa-database"></i></div>
							<h3 class="item-title">Mysql &amp; Postgress &amp; Sqlite etc..</h3>
							<div class="item-desc">Applications de bases de données</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-github"></i></div>
							<h3 class="item-title">Github</h3>
							<div class="item-desc">Outils de Versionning </div>
						</div><!--//item-inner-->
					</div><!--//item-->
				</div><!--//row-->
			</div><!--//container-->
		</section>
	
		<div class="container"><hr></div>
		
		<section class="featured-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Portefolio</h2>
				<div class="row">
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img  src="{{ asset('build/img/pkd.jpg') }}" class="card-img" alt="image">
								</div>
							<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="project.html" class="theme-link">Web Application</a></h5>
										<p class="card-text">Une application pour mettre en contact des avocat pour des procédure standard et/ou courante. Toujours en développement.</p>
										<p class="card-text"><small class="text-muted">Client: Pkd world</small></p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="project.html"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="http://pkdworld.com/fr/">
										<i class="fas fa-eye mr-2"></i>Voir Site (Work in progress)
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="https://static.wixstatic.com/media/d0b4e8_922b2cd7a1ae44d784e4ee109db1a8fb~mv2.png/v1/crop/x_0,y_0,w_4032,h_2340/fill/w_1228,h_713,al_c,q_90,usm_0.66_1.00_0.01/toutes%20boites.webp" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="https://www.lesboitesdecomm.com/" class="theme-link">Site web Boite de comm</a></h5>
										<p class="card-text">Un site web proposant des jeux de société.</p>
										<p class="card-text"><small class="text-muted">Client: Boite de comm</small></p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="project.html"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="https://www.lesboitesdecomm.com/">
										<i class="fas fa-eye mr-2"></i>Voir site
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
				</div><!--//row-->
				
			</div><!--//container-->
		</section><!--//featured-section-->

		<div class="container"><hr></div>
		
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">Contact</h2>
			    <div class="intro">
			    <p>Vous pouvez me contacter par E-mail au : contactjonathanvalette@gmail.com</p>
			    <ul class="list-inline mb-0">
		            <li class="list-inline-item mb-3"> <p>Merci de votre visite</p></li>
		        
	                
	            </ul><!--//social-list-->
			    
			</div><!--//container-->
	    </section>

	</div><!--//main-wrapper-->

{% endblock %}
